page-impressum {

  ion-content {

    .header {
      background-color: #f4f4f4;
      border-bottom: 1px solid #c8c7cc;
      padding: 10px 16px;
      font-weight: 600;
    }

    .item {
      border-bottom: 1px solid #c8c7cc;
      padding: 16px;
    }

  }

}